CHATGPT_API_KEY=
CHATGPT_API_TYPE=
CHATGPT_AZURE_RESOURCE=
CHATGPT_AZURE_DEPLOYMENT=
CHATGPT_AZURE_API_VERSION=

CHATGPT_AZURE_PARSE_RESOURCE=
CHATGPT_AZURE_PARSE_DEPLOYMENT=

TOKEN_ENCODING=cl100k_base
TOKEN_CHUNK_SIZE=512
TOKEN_CHUNK_OVERLAP=100
# 太长的文档直接会报错。免得太长很慢
PAGE_MAX_SPLIT_ITER=3
